<fieldset>
    <legend>{{ localize "BSKR.FuryPoints" }}</legend>
    <div class="form-group">
        <label>{{ localize "BSKR.FuryDie" }}</label>
        <span class="form-field-readonly">{{ furyDie }}</span>
    </div>
    <div class="form-group">
        <label>{{ localize "BSKR.ADVANCEMENT.FuryPoints.Starting" }}</label>
        <span class="form-field-readonly">{{ advancement.furyDieValue }}</span>
    </div>
    <div class="form-group">
        <label>{{ localize "BSKR.ADVANCEMENT.FuryPoints.Average" }}</label>
        <span class="form-field-readonly">{{ advancement.average }}</span>
    </div>
</fieldset>