<fieldset>
    <legend>{{ localize "BSKR.Usage" }}</legend>

    {{!-- Uses --}}
    <div class="form-group split-group">
        <label>{{ localize "BSKR.LimitedUses" }}</label>
        <div class="form-fields">

            {{!-- Spent --}}
            {{ formField fields.uses.fields.spent value=data.uses.spent label="BSKR.Spent" localize=true hint=false
                         classes="label-top" }}

            {{!-- Max --}}
            {{ formField fields.uses.fields.max value=data.uses.max label="BSKR.Max" localize=true hint=false
                         classes="label-top" }}
        </div>
    </div>

    {{!-- Auto-Destroy --}}
    {{#if fields.uses.fields.autoDestroy}}
    {{ formField fields.uses.fields.autoDestroy value=data.uses.autoDestroy localize=true
                 input=inputs.createCheckboxInput }}
    {{/if}}
</fieldset>

{{#if hasLimitedUses}}
<fieldset>
    <legend>
        <span>{{ localize "BSKR.Recovery" }}</span>
        <button type="button" class="unbutton control-button" data-action="addRecovery"
                data-tooltip="BSKR.USES.Recovery.Action.Create"
                aria-label="{{ localize "BSKR.USES.Recovery.Action.Create" }}">
            <i class="fas fa-plus" inert></i>
        </button>
    </legend>
    {{#each usesRecovery}}
    <div class="form-group split-group full-width card" data-index="{{ @index }}">
        <div class="form-fields">

            {{!-- Period --}}
            {{ formField fields.period name=(concat prefix "period") value=source.period options=@root.recoveryPeriods
                         label="BSKR.Period" localize=true hint=false classes="label-top" }}

            {{!-- Type --}}
            {{#unless (eq source.period "recharge")}}
            {{ formField fields.type name=(concat prefix "type") value=source.type options=@root.recoveryTypes
                         label="BSKR.Recovery" localize=true hint=false classes="label-top" }}
            {{/unless}}

            {{!-- Formula --}}
            {{#if (or (eq source.type "formula") formulaOptions)}}
            {{ formField fields.formula name=(concat prefix "formula") value=source.formula options=formulaOptions
                         label="BSKR.Formula" localize=true hint=false classes="label-top" }}
            {{/if}}

            <button type="button" class="unbutton control-button" data-action="deleteRecovery"
                    data-tooltip="BSKR.USES.Recovery.Action.Delete"
                    aria-label="{{ localize "BSKR.USES.Recovery.Action.Delete" }}">
                <i class="fas fa-minus" inert></i>
            </button>
        </div>
    </div>
    {{else}}
    <div class="empty">{{ localize "BSKR.USES.Recovery.Never" }}</div>
    {{/each}}
</fieldset>
{{/if}}
