<fieldset>
    <legend>{{ localize "BSKR.CONTAINER.Details" }}</legend>

    {{!-- Container Properties --}}
    {{ formField fields.properties options=properties.options input=inputs.createMultiCheckboxInput stacked=true
                 classes="checkbox-grid checkbox-grid-3" }}

    {{!-- Attunement --}}
    {{#if properties.object.mgc}}
    <div class="form-group">
        <label>{{ localize "BSKR.Attunement" }}</label>
        <div class="form-fields">

            {{!-- Attuned --}}
            {{#if source.attunement}}
            {{ formInput fields.attuned value=source.attuned input=inputs.createCheckboxInput
                         ariaLabel=(localize "BSKR.Attuned") dataset=(bskr-object tooltip="BSKR.Attuned") }}
            {{/if}}

            {{!-- Attunement --}}
            {{ formInput fields.attunement value=source.attunement choices=config.attunementTypes
                         blank="BSKR.AttunementNone" localize=true }}

        </div>
    </div>
    {{/if}}

</fieldset>

<fieldset>
    <legend>{{ localize "BSKR.CONTAINER.FIELDS.capacity.label" }}</legend>

    {{!-- Item Capacity --}}
    {{ formField fields.capacity.fields.count value=source.capacity.count placeholder="—" }}

    {{!-- Volume Capacity --}}
    <div class="form-group split-group">
        <label>{{ localize "BSKR.CONTAINER.FIELDS.capacity.volume.label" }}</label>
        <div class="form-fields">

            {{!-- Amount --}}
            {{ formField fields.capacity.fields.volume.fields.value value=source.capacity.volume.value
                         label="BSKR.Amount" localize=true classes="label-top" placeholder="—" }}

            {{!-- Units --}}
            {{ formField fields.capacity.fields.volume.fields.units value=source.capacity.volume.units
                         label="BSKR.Unit" localize=true classes="label-top" choices=config.volumeUnits
                         labelAttr="label" }}

        </div>
    </div>

    {{!-- Weight Capacity --}}
    <div class="form-group split-group">
        <label>{{ localize "BSKR.CONTAINER.FIELDS.capacity.weight.label" }}</label>
        <div class="form-fields">

            {{!-- Amount --}}
            {{ formField fields.capacity.fields.weight.fields.value value=source.capacity.weight.value
                         label="BSKR.Amount" localize=true classes="label-top" placeholder="—" }}

            {{!-- Units --}}
            {{ formField fields.capacity.fields.weight.fields.units value=source.capacity.weight.units
                         label="BSKR.Unit" localize=true classes="label-top" choices=config.weightUnits
                         labelAttr="label" }}

        </div>
    </div>
</fieldset>
