<div class="tab biography" data-group="primary" data-tab="biography">

    {{#if editingDescriptionTarget}}

    {{ editor enriched.editing target=editingDescriptionTarget button=false editable=true engine="prosemirror"
              collaborate=true }}

    {{else}}

    {{!-- Ideals, Bonds, & Flaws --}}
    <div class="top flexrow">

        {{~> "bskr.biography-textbox" name="system.details.ideal" value=system.details.ideal label="BSKR.Ideals"
            icon="fas fa-seedling" ~}}

        {{~> "bskr.biography-textbox" name="system.details.bond" value=system.details.bond label="BSKR.Bonds"
            icon="fas fa-link" ~}}

        {{~> "bskr.biography-textbox" name="system.details.flaw" value=system.details.flaw label="BSKR.Flaws"
            icon="fas fa-heart-crack" ~}}

    </div>

    {{!-- Public Information --}}
    <div class="middle" data-target="system.details.biography.public">

        <h3 class="icon">
            <a class="editor-edit" data-action="editDescription"
               aria-label="{{ localize "BSKR.BiographyPublicEdit" }}">
                <i class="fas fa-feather"></i>
            </a>
            <bskr-icon src="systems/bskr/icons/svg/ink-pot.svg"></bskr-icon>
            <span class="roboto-upper">{{ localize "BSKR.Public" }}</span>
        </h3>

        <div class="editor">
            <div class="editor-content">{{{ enriched.public }}}</div>
        </div>

    </div>

    {{!-- Details --}}
    <div class="bottom" data-target="system.details.biography.value">

        <h3 class="icon">
            <a class="editor-edit" data-action="editDescription" aria-label="{{ localize "BSKR.DetailsEdit" }}">
                <i class="fas fa-feather"></i>
            </a>
            <bskr-icon src="systems/bskr/icons/svg/ink-pot.svg"></bskr-icon>
            <span class="roboto-upper">{{ localize "BSKR.Details" }}</span>
        </h3>

        <div class="editor">
            <div class="editor-content">{{{ enriched.value }}}</div>
        </div>

    </div>

    {{/if}}

</div>
